<!-- start li.html -->
			<div class="row">
					<div class="column-image">
						{{- if .Params.Image }}
						<img alt="{{ .Params.Image_alt }}" src="/images/{{ .Params.Image }}"/>
						{{- else }}
						&nbsp;
						{{- end }}
					</div>
					<div class="column-text">
					<article>
						{{- .Render "head" }}
						<div>
							<p class="preview">
								{{ .Description }}
							</p>
						</div>
					{{ if .Truncated }}
					  <footer>
						  <a href="{{ .Permalink }}">Read more<span aria-hidden="true">&raquo;</span></a>
					  </footer>
					{{ end }}
					</article>
					</div>
			</div>
<!-- end li.html -->
