{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
		<div class="wrapper">
			<main class="container">
			<div class="row">
					<div class="column-text">
					<article>
					{{ .Content }}
					</article>
					</div>
			</div>
			</main>
		</div>
		<script src="{{ $baseurl }}/js/navigation.js"></script>
		<script src="{{ $baseurl }}/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
{{ partial "footer.html" . }}
